.header-img {
  /* width: 250px */
  width: auto;
  margin-top: 60px;
  transition: max-width 1s, min-width 1s;
}

.header-img-expanded {
  max-width: 250px;
  min-width: 250px;
}

.header-img-contracted {
  max-width: 125px;
  min-width: 125px;
}

.header-text {
  font-family: 'Hachi Maru Pop', cursive;
  transition: font-size 1s;
}

.header-text-big {
  font-family: 'Hachi Maru Pop', cursive;
  font-size: 23px;
}

.header-text-small {
  font-family: 'Hachi Maru Pop', cursive;
  font-size: 15px;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
